<%= form_for @article do |f| %>
  <%# <label>Article title:</label><br> %>
  <%# <%= text_field_tag :title %>
  <%= f.label 'Article Title' %><br>
  <%= f.text_field :title %><br>
 
  <%# <label>Article Description</label><br> %>
  <%# <%= text_area_tag :description %>
  <%= f.label 'Artcle Description' %><br>
  <%= f.text_area :description %><br>
 
  <%# <%= submit_tag "Submit Article" %>
  <%= f.submit 'Submit Article' %><br>
<% end %>